html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: 400;
}

.card img {
  max-width: 200px;
}

.content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border:rgb(201, 201, 201) 1px solid;
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius:8px;
    text-align: center;
    position: relative;
  }

.card:hover {
  border-color:rgb(116, 105, 238);
  transition: 0.3s ease-in;
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

[data-expand-target]{
	overflow:hidden;
	position:relative;
}

[data-expand-link]:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:10;
	margin:-250px;
}



.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: rgb(116, 105, 238);
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}


.checkmark {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: none;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px rgb(116, 105, 238);
  animation: fill .1s ease-in-out .3s forwards, scale .2s ease-in-out .7s both;
  position: absolute;
  right: 10px;
  top:-15px;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.2s cubic-bezier(0.65, 0, 0.45, 1) 0.5s forwards
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0
  }
}

@keyframes scale {

  0%,
  100% {
    transform: none
  }

  50% {
    transform: scale3d(1.1, 1.1, 1)
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px rgb(116, 105, 238)
  }
}